*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: ;
    height: 100vh;
    background-color: rgb(139, 139, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.main-heading h1 {
    margin-bottom:20px ;
}
button{
    display: inline-block;
    background-color: rgb(202, 220, 221);
    color: rgb(26, 25, 24);
    font-size: 19px;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding:10px ;
    z-index: 100000;
}
img{
    width: 100px;
}